.form-container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    box-shadow: -10px 10px 5px #FFE0B3;
}

.form-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #2A414F;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
}

.email,
.password {
    margin-bottom: 9px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #2A414F;
}

.input-group input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
}

.form-submit {
    width: 415px;
    height: 55px;
    background-color:
        rgba(255, 153, 0, 0.3);
    border-radius: 8px;
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #0E161A;
    cursor: pointer;
}

.form-submit:hover {
    background-color:
        rgba(255, 153, 0, 0.5);
}

.new-join {
    margin-top: 9px;
    margin-left: 100px;
}

.new-join-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #2A414F;
}

.form-link {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FF9900;
    text-decoration: none;
}

.hr-container {
    width: 354px;
    height: 20px;
}